In [42]:
import pandas as pd
import numpy as np 
from bs4 import BeautifulSoup
import requests
import json

In [43]:
urls = ['https://kependudukan.jogjaprov.go.id/statistik/penduduk/golonganusia/15/produktif/3/71/34.ez',
        'https://kependudukan.jogjaprov.go.id/statistik/penduduk/golonganusia/15/produktif/07/71/34.ez',
        'https://kependudukan.jogjaprov.go.id/statistik/penduduk/golonganusia/15/produktif/8/04/34.ez',
        'https://kependudukan.jogjaprov.go.id/statistik/penduduk/golonganusia/15/produktif/6/71/34.ez',
        'https://kependudukan.jogjaprov.go.id/statistik/penduduk/golonganusia/15/produktif/01/71/34.ez']

#urls[4] :tegalrejo
#urls[3] :ngampilan
#urls[2] :berbah
#urls[1] :wirobrajan
#urls[0] :gondokusuman

In [44]:
source = requests.get(urls[0]).text
soup = BeautifulSoup(source,'lxml')

In [45]:
df = pd.DataFrame()
SD = ['Gondokusuman','Wirobrajan','Berbah','Ngampilan','Tegalrejo']
for i,j in zip(urls,SD):
    source = requests.get(i).text
    soup = BeautifulSoup(source,'lxml')
    row_name = soup.find_all('tr',class_='statistik')[0]
    row_stat = soup.find_all('tr',class_='statistik')[3]
    name = []
    stat = []
    n = row_name.find_all('th')
    for i in n[1:-1]:
        name.append(i.text)
    v = row_stat.find_all('td',class_='statistik angka jumstat')

    for i in v[:-3]:
        stat.append(i.text)
    
    data = pd.DataFrame({'Sub_District':[j for i in range(len(name))],
                         'Village':name,
                         'Total_Population':stat})
    df = df.append(data)

In [53]:
df = df.reset_index(drop=True)
df['Village'] = df['Village'].apply(lambda x: x.title())
df.to_csv('Productive_population_15to64_of_top5_subdistricts.csv',index=False,index_label=False)

In [54]:
df

    Sub_District        Village Total_Population
0   Gondokusuman       Demangan            6.269
1   Gondokusuman       Kotabaru            2.088
2   Gondokusuman        Klitren            6.968
3   Gondokusuman         Baciro            8.927
4   Gondokusuman         Terban            6.647
5     Wirobrajan       Pakuncen            7.712
6     Wirobrajan     Wirobrajan            6.749
7     Wirobrajan  Patangpuluhan            5.393
8         Berbah   Sendangtirto           12.590
9         Berbah     Tegaltirto            8.833
10        Berbah      Kalitirto            9.692
11        Berbah      Jogotirto            7.800
12     Ngampilan      Ngampilan            7.367
13     Ngampilan     Notoprajan            5.798
14     Tegalrejo         Kricak            9.443
15     Tegalrejo    Karangawaru            6.883
16     Tegalrejo      Tegalrejo            6.540
17     Tegalrejo          Bener            3.529